{% extends "layout.html" %}
{% block body %}
<p style="padding-left:5px, padding-right:5px;">
    This responsive web application has been created as a part of assessment for DATABASE MANAGEMENT SYSTEMS Lab, 4th Semester, 2017. 
    <br>The technologies used are -
    <ul style="padding-left:5px, padding-right:5px;">
        <li><a href= "https://www.python.org/downloads/release/python-350/">Python 3.5</a> - Server Side Programming Language</li>
        <li><a href = "http://flask.pocoo.org/">flask</a> - Backend Microframework in Python</li>
        <li><a href = "https://flask-pymongo.readthedocs.io/en/latest/">flask_pymongo</a> - MongoDB Client for Python</li>
        <li><a href ="https://www.mlab.com">MLab</a> - Free Online MongoDB Sandbox</li>
        <li><a href = "http://getbootstrap.com/">Bootstrap</a> - Frontend Framework</li>
        <li><a href="http://heroku.com">Heroku</a> - Free Online Hosting Service</li>
    </ul>
    I would like to thank my friend <a href="https://www.facebook.com/nikhilksingh97">Nikhil Kumar</a> for sharing his knowledge of Python with me. Also, I would like to thank <a href = "https://www.youtube.com/user/thenewboston">Bucky Roberts</a> and <a href="http://prettyprinted.com/">Pretty Printed</a> for their tutorials on Bootstrap and flask/flask_pymongo respectively.</p>
    <p>Currently, there are only 15 entries in the database - and user can make queries based on student's full name, or on the basis of the CGPA (which I personally do not like).</p><p>Suggestions and bug reports are welcome, feel free to contact me by email or by following the hyperlink on my name below.</p><p>Thanks for visiting!!</p>
<p class="text-right">
 - <a href="https://www.facebook.com/sanchit3008">Sanchit Agarwal</a><br>
 (DTU/2K15/CO/109)<br>
 <a href="mailto:sanchit3008@gmail.com">sanchit3008@gmail.com</a></p>
{% endblock %}